.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    gap: 10px;
}

.container h1 {
    margin-bottom: 10px;
    color: #B0E338;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.Subtitulo {
    color: #555;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.child {
    display: flex;
    align-items: center;
    gap: 100px;
}

.buscador {
    width: 100%;
    height: 24px;
    max-width: 500px;
}

.boton {
    width: 225px;
    background: #7033FF;
}

